body {
  align-items: center;
  display: flex;
  font: 12px sans-serif;
  justify-content: center;
}

circle {
  opacity: 0.6;
  fill: #2196f3;
  stroke: #212121;
}

.info {
  overflow-y: scroll;
}

.info h2 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 6px 4px;
  width: 25ch;
}

.info p:hover {
  background: #f5f5f5;
  cursor: pointer;
}
